<%- include ("partials/header.ejs") %>

    <div class="container" id="btnctr" >
            <h1>Welcome to ARTOPEDIA</h1>
            <p>View our handpicked campgrounds from all over the world</p>
            <p>
    
                <a class="btn btn-primary btn-large " href="/campgrnd/new">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>ART</a>
                
                <a class="btn btn-primary btn-large" href="/campgrnd/new">POETRY</a>
            </p>
            <p>
                <a class="btn btn-primary btn-large" href="/campgrnd/new">MUSIC</a>
                <a class="btn btn-primary btn-large" href="/campgrnd/new">DANCE</a>
            </p>
     </div>
   

<%- include ("partials/footer.ejs") %>

