<%- include ("partials/header.ejs") %>

<!-- <div class="main" style="margin-left: 250px;margin-right: 200px;">
 <div class="row"> -->

<h2 style="color:ivory;text-align: center;">ABOUT</h2>
<br><br><br><br><br>

<div class="container" style="font-size: 20px;text-align: center; height:250px;width:500px; border: solid 3px gray;color: ivory;">
    This web page is a forum for budding artists who want to showcase their talent out to the world.
    A user can create a profile and post his work on this page and also view work from other artists.
    Users will be given an option of four categories to choose their field of interest when they sign up.
    This page will focus only on talented and skilled artists looking for an exposure. 
    It has an easy , user friendly UI.
</div>

<%- include ("partials/footer.ejs") %>