<%- include ("partials/header.ejs") %>

<!-- <div class="main" style="margin-left: 250px;margin-right: 200px;">
 <div class="row"> -->

<!-- <h2 style="color:ivory;text-align: center;">ABOUT</h2>
<br><br><br><br><br>

<div class="container" style="font-size: 20px;text-align: center; height:250px;width:500px; border: solid 3px gray;color: ivory;">
    This web page is a forum for budding artists who want to showcase their talent out to the world.
    A user can create a profile and post his work on this page and also view work from other artists.
    Users will be given an option of four categories to choose their field of interest when they sign up.
    This page will focus only on talented and skilled artists looking for an exposure. 
    It has an easy , user friendly UI.
</div> -->
<br><br><br><br>
<div class="container" style="margin-left: 200px;margin-right: 100px;">
<div class="col-sm-6 col-md-4">
    <h2 style="color:ivory;text-align: center;">CONTACT</h2>
<br><br><br><br><br>
      <div class="thumbnail">
       <img src="https://images.unsplash.com/photo-1527769929977-c341ee9f2033?ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80" alt="Image" style="width:250px;height:260px">
        <div class="caption">
         
         <p> <span class="tmb">MADHUSHREE</span></p>
       
         <!-- <form class="form-inline"> -->
          <div class="row">
 
<div class="col-xs-4"><a href="" class="btn btn-primary btn-md" role="button" download="image"><i class="fab fa-facebook"></i></a> </div>
         
            <div class="col-xs-4"><a href="" class="btn btn-primary btn-md" role="button"><i class="fab fa-linkedin"></i></a></div>
           
 
 
           
         
            <div class="col-xs-4"><a href="" class="btn btn-primary btn-md" role="button"><i class="fab fa-github"></i></a></div>
   

          </div>
      </div>
   
</div>
</div>

 <div class="col-sm-6 col-md-4">
 <div class="thumbnail">
       <img src="https://images.unsplash.com/photo-1527769929977-c341ee9f2033?ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80" alt="Image" style="width:250px;height:260px">
        <div class="caption">
         
         <p> <span class="tmb">MADHUSHREE</span></p>
       
         <!-- <form class="form-inline"> -->
         <div class="row">
 
<div class="col-xs-4"><a href="" class="btn btn-primary btn-md" role="button" download="image"><i class="fab fa-facebook"></i></a> </div>
         
            <div class="col-xs-4"><a href="" class="btn btn-primary btn-md" role="button"><i class="fab fa-linkedin"></i></a></div>
           
 
 
           
         
            <div class="col-xs-4"><a href="" class="btn btn-primary btn-md" role="button"><i class="fab fa-github"></i></a></div>
   

          </div>
      </div>
     </div>
 </div>
</div>  
<!-- </div>
<//div>> -->

 

<%- include ("partials/footer.ejs") %>
