<%- include ("partials/header.ejs") %>
<div class="signup">
    <form action="/artopedia/login" method="post" >
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button>LOGIN</button>
    </form> 
</div>

<%- include ("partials/footer.ejs") %>