<%- include ("partials/header.ejs") %>
<% var id; %>
<div class="main3">
    <div class="container" id="btnctr" >
        <i class="fab fa-ravelry loading wave abc"></i>
            <div class="loading wave"><p>ARTOPEDIA</p></div>
            <div>
    
               
				<p class="first"> 
					
					<a href="/artopedia/art"><button class="btn btn-3 btn-3e icon-arrow-right a1" >ARTWORK</button></a>
					
					<a href="/artopedia/writing"><button class="btn btn-3 btn-3e icon-arrow-right a1">WRITING</button></a>
				</p>
		
				<p>
					
					<a href="/artopedia/music"><button class="btn btn-3 btn-3e icon-arrow-right" id="aa">MUSICA</button></a>
				
					
					<a href="/artopedia/dance"><button class="btn btn-3 btn-3e icon-arrow-right" id="bb">DANCE</button></a>
				</p>
		         
                <% if(currentUser){ %>
                    <% profile.forEach(function(pr){ %>
                        <% console.log(pr.author.username) %>
                        <% if ((pr.author.username) == (currentUser.username)) {%>
                            <% console.log(pr._id) %>

                            <a href="/artopedia/profilee/<%= pr._id %>"><button class="btn btn-3 btn-3e icon-arrow-right ok">PROFILE</button></a>

                            <% id=pr._id ;%>
                        <% } %>
                    <% }); %>
                    <!-- <a class="btn btn-primary btn-large" href="/artopedia/profilee/<%= id %>">Profile</a> -->
                    <% } %>
                </div>
             
     </div>
    

    
			
     
    </div>
<%- include ("partials/footer.ejs") %>

