<%- include ("partials/header.ejs") %>
<div class="signup">
    <form action="/artopedia/profile" method="post" >
        <input type="text" name="name" placeholder="name">
        <input type="text" name="image" placeholder="imageURL">
        <input type="text" name="description" placeholder="Description">
        <div>
            <input type="radio" name="category" value="Art">ART
            <input type="radio" name="category" value="Writing">WRITINGS
            <input type="radio" name="category" value="Music">MUSIC
            <input type="radio" name="category" value=>DANCE
        </div>
        <input type="email" name="email" placeholder="Email">
        <input type="number" name="phone" placeholder="Phone number">
        <div>
        <label for="tnc">I agree to the terms and conditions</label>
        <input type="checkbox" name="checkbox" id="tnc" required>
        </div>
        <button>Submit</button>
    </form> 
</div>

<%- include ("partials/footer.ejs") %>