<%- include ("partials/header.ejs") %>
<div class="signup">
    <form action="/artopedia/profile" method="post" >
        <input type="text" name="name" placeholder="name">
        <input type="text" name="image" placeholder="imageURL">
        <input type="text" name="description" placeholder="Description">
        <input type="email" name="email" placeholder="Email">
        <input type="number" name="phone" placeholder="Phone number">
        <button>Submit</button>
    </form> 
</div>

<%- include ("partials/footer.ejs") %>