<%- include ("partials/header.ejs") %>
    <!-- <h6>   </h6> -->
    <div class="title" ><h6>    ,     </h6></div>
    <div class="c" style="width:470px;height:700px">
        <h2>DETAILS</h2>
        <div class="formbox" >
<!-- <div class="signup"> -->
            <form action="/artopedia/profile" method="post" enctype="multipart/form-data" >
                <input type="text" name="profile[name]" placeholder="Name" required>
                <br>
                <label for="image" class="forimage">Choose file for Profile Picture
                <input type="file" id="image" name="profile[image]" accept="image/*" required>
                </label>  
                <br>
                <!-- <input type="text" name="image" placeholder="Profile Picture" required> -->
                <input type="text" name="profile[description]" placeholder="Description">
                <div>
                    <label>
                        <p>Account Purpose:</p><br>
                        <input type="radio" name="profile[category]" value="Writing">WRITINGS
                        <input type="radio" name="profile[category]" value="Music">MUSIC
                        <br>
                        <input type="radio" name="profile[category]" value="Art">ARTWORK
                        <input type="radio" name="profile[category]" value="Dance">DANCE
                    </label>
                </div>

                <input type="email" name="profile[email]" placeholder="Email" required>
                <input type="number" name="profile[phone]" placeholder="Phone number" required>
                <div>
                <label for="tnc">I agree to the terms and conditions</label>
                <input type="checkbox" name="profile[checkbox]" id="tnc" required>
                </div>
				<a href="#"><button style="background-color: rgb(2, 23, 32);border-radius:50px;" class="btn btn-3 btn-3e icon-arrow-right">SUBMIT</button></a>

                <!-- <button>Submit</button> -->
            </form> 
        </div>
       
    </div>
       

    
    

<%- include ("partials/footer.ejs") %>