<%- include ("partials/header.ejs") %>

<!-- <div class="signup">
    <pre>
    <form action="/artopedia/register" method="post" >
        <input type="text" name="username" placeholder="username"><br/><br/>
        <input type="password" name="password" placeholder="password"><br/><br/>
        <button>Sign Up</button>
    </form> 
</pre>
</div> -->

<h2>   </h2>
<div class="title" ><h1>    ,     </h1></div>
<div class="c">
    <h2>SIGN UP</h2>
    <div class="formbox">
        <form action="/artopedia/register" method="post" >
            <!-- <p>USERNAME:</p> -->
            <input type="text"  name="username" placeholder="  USERNAME" required></br></br>
            <input type="Password" name="password" placeholder="  PASSWORD" required>
            </br></br></br>
            <a href="/artopedia/music"><button style="background-color: rgb(2, 23, 32);border-radius:50px;" class="btn btn-3 btn-3e icon-arrow-right">SIGNUP</button></a>
            <br><br><br>
            <p style="color:black">Member Already? <a href="/artopedia/login">LOGIN</a></p>
        </form>		
    </div>
</div>


<%- include ("partials/footer.ejs") %>