<%- include ("partials/header.ejs") %>
<form action="/signup" method="post">
<input type="text" name="username" placeholder="username">
<input type="password" name="password" placeholder="password">
<input type="text" name="description" placeholder="description">
<input type="email" name="email" placeholder="email">
<input type="number" name="number" placeholder="number">
<button>Sign Up</button>
</form> 


<%- include ("partials/footer.ejs") %>