<%- include ("partials/header.ejs") %>

<div class="signup">
    <pre>
    <form action="/artopedia/register" method="post" >
        <input type="text" name="username" placeholder="username"><br/><br/>
        <input type="password" name="password" placeholder="password"><br/><br/>
        <button>Sign Up</button>
    </form> 
</pre>
</div>

<%- include ("partials/footer.ejs") %>