<%- include ("partials/header.ejs") %>
<br>
<br>
<br>
<div class="container">
    <textarea class="textarea" style="text-align:center;height:500px;width:50%;margin-left: 300px;" readonly><%= writing.writing %>
    </textarea>
</div>


<%- include ("partials/footer.ejs") %>
